@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.messageError {
    font-family: 'Oxygen', sans-serif;
    word-break: break-word;
    font-size: 150%;
    color: red;
    margin: 1%;
    min-height: 1.5em;
    width: 100%;
    text-align: center;
}
