@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@mixin menuInput {
    width: 50%;
    margin: 1%;
    font-family: 'Oxygen', sans-serif;
    font-size: 250%;
    padding-left: 1%;
}

.menuContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .menuHeader {
        text-align: center;
        margin: 1%;
        font-family: 'Oxygen', sans-serif;
        font-size: 500%;
        font-weight: bolder;
    }

    .menuForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 1%;

        .menuTextField {
            @include menuInput;
        }

        .menuSelectBox {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            @include menuInput;
            padding: 2px 1%;
            background-image: url('./../../assets/selectBG.svg');
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .menuContainer {
        .menuHeader {
            width: 100%;
            font-size: 400%;
            margin: 3%;
        }

        .menuForm {
            .menuTextField {
                width: 80%;
                margin: 1%;
                font-size: 250%;
            }

            .menuSelectBox {
                width: 80%;
                margin: 1%;
                font-size: 250%;
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .menuContainer {
        .menuHeader {
            width: 100%;
            font-size: 300%;
            margin: 3%;
        }

        .menuForm {
            .menuTextField {
                width: 70%;
                margin: 1%;
                font-size: 200%;
            }

            .menuSelectBox {
                width: 70%;
                margin: 1%;
                font-size: 200%;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {

    .menuContainer {
        .menuHeader {
            width: 100%;
            font-size: 300%;
            margin: 3%;
        }

        .menuForm {
            .menuTextField {
                width: 90%;
                margin: 1%;
                font-size: 180%;
            }

            .menuSelectBox {
                width: 90%;
                margin: 1%;
                font-size: 180%;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .menuContainer {
        .menuHeader {
            width: 100%;
            font-size: 250%;
            margin: 5%;
        }

        .menuForm {
            .menuTextField {
                width: 100%;
                margin: 2%;
                font-size: 150%;
            }

            .menuSelectBox {
                width: 100%;
                margin: 2%;
                font-size: 150%;
            }
        }
    } 
}


