
.quizOptionsContainer {
    margin: 1%;
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    justify-content: space-evenly;
    row-gap: 2em;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .quizOptionsContainer {
        grid-template-columns: 80%;
        row-gap: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .quizOptionsContainer {
        grid-template-columns: 80%;
        row-gap: 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .quizOptionsContainer {
        grid-template-columns: 80%;
        row-gap: 1em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .quizOptionsContainer {
        grid-template-columns: 100%;
        row-gap: 1em;
    }
}
